.first,
#zero,
#one,
#two,
#three,
#four,
#five,
#six {
  height: 100%;
}

a {
  text-decoration: none;
}

#seven {
  height: 60%;
}

@CHARSET "UTF-8";

@font-face {
  font-family: 'Binggrae';
  src: url(../font/Binggrae.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Black.ttf) format('truetype');
}

/* Banner */
.first {
  width: 100%;
  overflow: hidden;
}

.banner-flex video {
  position: relative;
  top: 0;
  left: -30px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}

.first-left {
  padding-top: 80px;
}

.logo-text {
  margin-top: 6%;
  padding-left: 20%;
}

.menu-list {
  font-size: 21px;
}

.company_mobile {
  font-size: 80px;
  display: inline-block;
}

.app_icon_mobile {
  display: inline-block;
  width: 80px;
  position: relative;
  top: 15px;
}

.first-banner {
  width: 100%;
}

.badge-place {
  float: left;
}

.first-banner .memo {
  font-size: 30px;
  display: inline-block;
}

.first-banner .memo-block {
  display: block;
  margin: 0;
}

.first-banner .company {
  font-size: 90px;
}

.app_icon {
  width: 80px;
}

.app_icon_mobile {
  display: ;
}

.galaxyS20 {
  position: absolute;
  left: 1000px;
  top: 30px;
  width: 420px;
}

.galaxyS20 img {
  max-width: 100%;
  max-height: 100%;
}

@media all and (min-width:768px) and (max-width:1536px) {
  .galaxyS20 {
    left: 850px;
  }

  .logo-text {
    margin-top: 7%;
    padding-left: 25%;
  }
}

@media all and (min-width:768px) and (max-width:950px) {
  #video {
    height: 600px;
  }
}

@media all and (max-width:768px) {

  /* Banner */
  .first {
    height: 60%;
    margin-right: 30px;
  }

  //#video{min-width: 120%; min-height: 120%;}

  .first-left {
    padding-top: 0px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu_right {
    display: none;

  }

  .badge-place {
    float: none;
    text-decoration: none;
  }

  .logo-text {
    padding-left: 5%;
    width: 100%;
  }

  .first-menu {
    display: none;
  }

  .app_icon {
    display: none;
    /* width: 80px;
    position: relative;
    top: 25px; */
  }

  .first-banner .memo {
    font-size: 20px;
    display: block;
  }

  .first-banner .company {
    display: none;
  }

  .company_mobile {
    font-size: 50px;
  }

  .galaxyS20 {
    width: 85%;
    position: static;
    display: block;
    margin-left: 15%;
  }

  .galaxyS20 img {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
  }
}

.fade-in-left {
  -webkit-animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-19 21:14:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Zero */
#zero {
  overflow: hidden;
}

#zero .zero-text {
  margin-left: 20%;
}

#zero h2 {
  font-size: 40px;
}

#zero p {
  font-size: 25px;
}

#zero .zero-flex-container {
  display: flex;
}

.smallfeet {
  opacity: 0;
  z-index: 3;
}

.smallfeet1 {
  position: absolute;
  top: 540px;
  left: 1300px;
}

.smallfeet2 {
  position: absolute;
  top: 510px;
  left: 1200px;
}

.smallfeet3 {
  position: absolute;
  top: 275px;
  left: 1315px;
}

.smallfeet4 {
  position: absolute;
  top: 410px;
  left: 1330px;
}

#zero .feetcheck {
  position: absolute;
  left: 1120px;
  top: 350px;
  z-index: 2;
  opacity: 0;
  width: 200px;
}

.location_phone {
  position: absolute;
  left: 1010px;
  top: 150px;
  width: 500px;
}

#zero .feed_detail {
  position: absolute;
  left: 1320px;
  top: 220px;
  opacity: 0;
  width: 300px;
}

@media all and (min-width:768px) and (max-width:1536px) {
  #zero .zero-text {
    margin-left: 13%;
  }

  .smallfeet1 {
    top: 490px;
    left: 1080px;
  }

  .smallfeet2 {
    top: 460px;
    left: 980px;
  }

  .smallfeet3 {
    top: 225px;
    left: 1095px;
  }

  .smallfeet4 {
    top: 360px;
    left: 1110px;
  }

  #zero .feetcheck {
    top: 300px;
    left: 900px;
  }

  .location_phone {
    top: 90px;
    left: 790px
  }

  #zero .feed_detail {
    top: 170px;
    left: 1100px;
  }
}

@media all and (max-width:768px) {
  #zero {
    height: 130%;
  }

  #zero .zero-text {
    margin: 0 auto;
    text-align: center;
  }

  #zero h2 {
    font-size: 23px;
  }

  #zero p {
    font-size: 17px;
  }

  .zero-text p span {
    display: block;
  }

  .location_phone {
    top: 400px;
    left: 10px;
    width: 350px;
  }

  .smallfeet1 {
    top: 650px;
    left: 220px;
  }

  .smallfeet2 {
    top: 630px;
    left: 160px;
  }

  .smallfeet3 {
    top: 515px;
    left: 210px;
  }

  .smallfeet4 {
    top: 580px;
    left: 210px;
  }

  #zero .feetcheck {
    left: 20px;
    top: 550px;
    width: 150px;
  }

  #zero .feed_detail {
    top: 480px;
    left: 220px;
    width: 180px;
  }
}

/* One */
#one {
  overflow: hidden;
}

#one h2 {
  font-size: 40px;
}

#one p {
  font-size: 25px;
}

#one.wrapper {
  height: 100%;
}

#one .one-flex {
  display: flex;
}

.one-img img {
  width: 100%;
}

.info {
  margin-top: 5%;
  margin-left: 20%;
  z-index: 2;
}

.first-img {
  position: absolute;
  top: 0px;
  left: 700px;
  width: 1000px;
}

.first-img .fix {
  width: 100%;
}

.slide1,
.slide2 {
  width: 550px;
  position: absolute;
}

.slide1 {
  top: 320px;
  left: 400px;
  opacity: 0;
}

.slide2 {
  top: 450px;
  left: 530px;
  opacity: 0;
}

@media all and (min-width:768px) and (max-width:1536px) {
  .info {
    margin-left: 10%;
  }

  .first-img {
    top: -100px;
    left: 400px;
  }

  .slide1 {
    top: 300px;
    left: 430px
  }

  .slide2 {
    top: 400px;
    left: 580px
  }
}

@media all and (max-width:768px) {
  #one {
    height: 100%;
  }

  #one h2 {
    font-size: 23px;
  }

  #one p {
    font-size: 17px;
  }

  #one.wrapper {
    height: 140%;
  }

  .info {
    margin-left: 10%;
  }

  .first-img {
    top: 460px;
    left: -50px;
    width: 500px;
  }

  .slide1 {
    top: 130px;
    left: 150px;
    width: 300px;
  }

  .slide2 {
    top: 200px;
    left: 220px;
    width: 300px;
  }


  /*
  .first-img{position: static; display: block; margin:0 auto; width:80%;} */
}


/* three */
#three {
  height: 110%;
}

.three_img {
  width: 600px;
  padding-bottom: 50px;
  opacity: 0;
}

.tree_wrap {
  display: flex;
  height: 100%;
  text-align: center;
}

.info_three {
  margin-top: 15%;
  margin-right: 25%;
  width: 50%;
  text-align: right;
}

.info_three h2 {
  font-size: 50px;
}

.info_three h3 {
  font-size: 40px;
}

.info_three p {
  font-size: 25px;
}

#heart {
  width: 50px;
}

.icecream {
  width: 200px;
  position: absolute;
  top: 100px;
  left: 280px;
  z-index: 2;
}

.soju {
  width: 130px;
  position: absolute;
  top: 400px;
  left: 320px;
  z-index: 2;
}

.chicken {
  width: 100px;
  position: absolute;
  top: 600px;
  left: 260px;
  z-index: 2;
}

.muffine {
  width: 150px;
  position: absolute;
  top: 100px;
  left: 660px;
  z-index: 2;
}

.football {
  width: 80px;
  position: absolute;
  top: 300px;
  left: 660px;
  z-index: 2;
}

.busstop {
  width: 150px;
  position: absolute;
  top: 550px;
  left: 700px;
  z-index: 2;
}

.whitephone {
  width: 600px;
  position: absolute;
  top: 100px;
  left: 200px;
}

.icecream,
.chicken,
.football {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, 10px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 10px) rotate(0deg);
  }
}

.soju,
.busstop,
.muffine {
  animation: shake2 1.5s;
  animation-iteration-count: infinite;
}

@keyframes shake2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 10px) rotate(0deg);
  }

  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}


@media all and (max-width:768px) {
  #three {
    height: 110%;
  }

  .three_img {
    width: 0%;
    margin: 0 auto;
    padding: 0
  }

  .info_three {
    width: 80%;
    margin-right: 5%;
  }

  .info_three h2 {
    font-size: 30px;
  }

  .info_three h3 {
    font-size: 23px;
  }

  .info_three p {
    font-size: 17px;
  }

  .whitephone {
    width: 400px;
    top: 250px;
    left: -30px;
  }

  .icecream {
    width: 100px;
    top: 200px;
    left: 30px;
  }

  .soju {
    width: 65px;
    top: 450px;
    left: 80px;
  }

  .chicken {
    width: 50px;
    top: 600px;
    left: 30px;
  }

  .muffine {
    width: 75px;
    top: 250px;
    left: 290px;
  }

  .football {
    width: 40px;
    top: 400px;
    left: 290px;
  }

  .busstop {
    width: 75px;
    top: 550px;
    left: 290px;
  }

  .three_wrap {
    flex-direction: column-reverse;
  }
}

@media all and (min-width:990px) and (max-width:1536px) {
  .icecream {
    left: 80px;
  }

  .soju {
    left: 120px;
  }

  .chicken {
    left: 60px;
  }

  .muffine {
    left: 460px;
  }

  .football {
    left: 460px;
  }

  .busstop {
    left: 500px;
  }

  .whitephone {
    left: 0px;
  }

  .info_three {
    margin-top: 15%;
    margin-right: 15%;
  }
}

@media all and (min-width:768px) and (max-width:990px) {
  .three_wrap {
    flex-direction: column-reverse;
  }

  .three_img {
    width: 0%;
  }

  .info_three {
    width: 80%;
    margin-right: 15%;
  }

  .whitephone {
    top: 200px;
    left: 150px;
  }

  .icecream {
    top: 200px;
    left: 230px;
  }

  .soju {
    top: 500px;
    left: 270px;
  }

  .chicken {
    top: 700px;
    left: 210px;
  }

  .muffine {
    top: 200px;
    left: 610px;
  }

  .football {
    top: 400px;
    left: 610px;
  }

  .busstop {
    top: 650px;
    left: 650px;
  }
}

/* Five */
.five-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-wrap {
  width: 200px;
}

.five-text h2 {
  font-size: 40px;
}

.feed-wrap img {
  width: 100%;
}

.blackphone {
  margin-right: 70px;
}

.s_feed1 {
  position: absolute;
  ;
  bottom: 550px;
  left: 45%;
  opacity: 0;
}

.s_feed2 {
  position: absolute;
  ;
  bottom: 420px;
  left: 46%;
  opacity: 0;
}

.center-phone {
  opacity: 0;
}

@media all and (max-width:1536px) {
  .s_feed1 {
    bottom: 350px;
  }

  .s_feed2 {
    bottom: 220px;
  }
}

@media all and (max-width:768px) {
  #five {
    height: 100%;
  }

  .center-phone {
    position: relative;
    left: -40px;
  }

  .five-text h2 {
    font-size: 23px;
  }

  .five-text h2 .five-title {
    display: block;
  }

  .five-text h3 {
    font-size: 17px;
  }

  .five-text h3 span {
    display: block;
  }

  .five-side {
    display: none;
  }

  .blackphone {
    margin: 0 auto;
  }
}

#five1,
#five2,
#five3,
#five4 {
  opacity: 0;
}

.animate {
  -webkit-animation: bounce-in-fwd 0.8s both;
  animation: bounce-in-fwd 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-22 18:57:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  66% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  66% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Six */
#six {
  height: 100%;
  overflow: hidden;
}

#six .flex-container {
  display: flex;
}

#six .six-img {
  position: absolute;
  top: -250px;
  max-width: 1000px;
}

#six .six-full-img {
  width: 80%;
}

#six .six-info {
  text-align: right;
  width: 38%;
  margin-top: 15%;
  margin-right: 20%;
}

#six .six-info h1 {
  font-size: 35px;
}

#six .six-info h4 {
  font-size: 20px;
}

.feet-img {
  position: relative;
  width: 70px;
}

@media all and (min-width:990px) and (max-width:1536px) {
  #six .six-img {
    max-width: 800px;
  }

  #six .six-info {
    margin-right: 10%;
  }
}

@media all and (max-width:990px) {
  #six {
    height: 120%;
  }

  #six .flex-container {
    flex-direction: column-reverse;
  }

  #six .six-info {
    width: 80%;
    position: absolute;
    top: 0;
    right: -40px;
  }

  #six .six-info h1 {
    font-size: 23px;
  }

  #six .six-info h4 {
    font-size: 17px;
  }

  #six .six-img {
    width: 100%;
    top: 380px;
  }

  #six .six-full-img {
    left: 0;
  }

  #six .six-info-text h4 span {
    display: block;
  }
}

/* Seven */
#seven {
  padding: 0;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/final2-bal.appspot.com/o/lastpage%2Fseven_background.png?alt=media&token=7d4f8bc4-7763-4901-a97a-c96652d1fc89');
  background-size: cover;
  //  background-repeat: no-repeat;
}

.opening {
  position: absolute;
  left: 10%;
  top: 200px;
  width: 400px;
  opacity: 0;
  z-index: 3;
}

.seven-right-wrap {
  position: absolute;
  right: 5%;
  width: 50%;
  height: 100%;
}

#seven .seven-text {
  height: 600px;
  padding-top: 20%;
  margin-left: 20%;
}

.seven-badge-place {
  margin-top: 50px;
}

.seven-badge-place img {
  margin-right: 10px;
}

#seven .seven-text h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

@media all and (min-width:768px) and (max-width:1536px) {
  #seven {
    height: 80%;
  }
}

@media all and (max-width:768px) {
  #seven {
    height: 130%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/final2-bal.appspot.com/o/lastpage%2Flastbackground_m0.png?alt=media&token=e95c3a20-16c3-4963-ac32-cf2e9f1a362a');
    background-size: cover;
  }

  .seven-right-wrap {
    width: 100%;
    margin-top: 50px;
    right: 0%;
    left: 0%;
  }

  #seven .seven-text {
    margin-left: 10%;
    text-align: center;
  }

  #seven .seven-text h2 {
    font-size: 23px;
  }

  .opening {
    left: 10%;
    top: 400px;
    width: 300px;
  }

  #seven .seven-badge-place {
    margin-top: 20px;
  }
}

/* Shake mini-icon */
#feet_shake,
#heart {
  animation: mini-shake 4s;
  animation-iteration-count: infinite;
}

@keyframes mini-shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

#feet {
  animation: mini-shake 6s;
  animation-iteration-count: infinite;
}

@keyframes mini-shake {
  0% {
    transform: rotate(15deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

#footer {
  text-align: right;
}

#footer .to_block {
  margin: 0;
}

#footer .copyright {
  text-align: right;
}

#footer .info-block {
  height: 0;
}

#footer .as_links {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media all and (max-width:768px) {
  #footer {
    text-align: center;
  }

  #footer .icons {
    text-align: center;
  }

  #footer .footer-info {
    display: block;
  }

  #footer .copyright {
    text-align: center;
  }

  #footer .as_links {
    display: inline-block;
    width: 70px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}